@charset "UTF-8";
/* ========== 중단점 ========== */
/* ========== 폰트 크기 ========== */
/* ========== margin ========== */
/* ========== 한.영 글꼴 ========== */
/* ========== 색상 ========== */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@font-face {
  font-family: Alphasmoke;
  src: url(../fonts/Alphasmoke-OOX6.ttf) format("truetype");
}
@font-face {
  font-family: mckloud-stroke;
  src: url(../fonts/MCKLW___.ttf) format("truetype");
}
@font-face {
  font-family: mckloud-full;
  src: url(../fonts/MCKLB___.ttf) format("truetype");
}
@font-face {
  font-family: mckloud-shadow;
  src: url(../fonts/MCKLSH__.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 18px "Nanum Gothic", sans-serif, "맑은 고딕";
  color: #333;
  background-color: #fcfcfc;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 0;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 20px;
}

address {
  font-style: inherit;
}

header,
nav,
main,
article,
section,
footer {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}

.flexbox {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .flexbox {
    flex-direction: row;
  }
}

.mobile-only {
  display: block;
}
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.desktop-only {
  display: none;
}
@media screen and (min-width: 1200px) {
  .desktop-only {
    display: block;
  }
}

.large-only {
  display: none;
}
@media screen and (min-width: 768px) {
  .large-only {
    display: block;
  }
}

h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 100px;
  text-align: left;
  color: #77addf;
}
h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  background: #77addf;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@-webkit-keyframes cloudLoop {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes cloudLoop {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes trackPath {
  0% {
    offset-distance: 0;
  }
  100% {
    offset-distance: 100%;
  }
}
@keyframes trackPath {
  0% {
    offset-distance: 0;
  }
  100% {
    offset-distance: 100%;
  }
}
/* ==================== header ==================== */
header {
  position: relative;
  width: 100vw;
}
header #home .logo {
  position: fixed;
  padding: 20px;
  z-index: 98;
}
header #home .logo img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
header #home .header-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#77addf, transparent);
}
header #home .header-bg .cloud-animation {
  width: 100%;
  margin-bottom: 20px;
  background-color: pink;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
header #home .header-bg .cloud-animation .cloud-wrap {
  display: flex;
  background-color: #ff9a00;
}
header #home .header-bg .cloud-animation .cloud-wrap > div:first-child {
  width: 100vw;
}
header #home .header-bg .cloud-animation .cloud-wrap .cloud {
  position: absolute;
  width: 100vw;
  margin-right: 20px;
}
header #home .header-bg .cloud-animation .cloud-wrap .cloud img {
  max-width: 24vw;
  -o-object-fit: cover;
     object-fit: cover;
}
header #home .header-bg .cloud-animation .cloud-wrap .cloud1 {
  top: -6%;
  right: 0;
  -webkit-animation: cloudLoop 18s infinite linear;
          animation: cloudLoop 18s infinite linear;
}
@media screen and (min-width: 768px) {
  header #home .header-bg .cloud-animation .cloud-wrap .cloud1 {
    top: -16%;
  }
}
header #home .header-bg .cloud-animation .cloud-wrap .cloud2 {
  top: 20%;
  left: 80%;
  -webkit-animation: cloudLoop 26s infinite linear;
          animation: cloudLoop 26s infinite linear;
}
header #home .header-bg .cloud-animation .cloud-wrap .cloud3 {
  top: 70%;
  left: 50%;
  -webkit-animation: cloudLoop 22s infinite linear;
          animation: cloudLoop 22s infinite linear;
}
header #home .pc-nav {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 80%;
  height: 60px;
  border-radius: 20px;
  transform: translateX(-50%);
  z-index: 99;
}
header #home .pc-nav #gnb {
  display: flex;
  justify-content: center;
}
header #home .pc-nav #gnb li {
  width: 160px;
  margin-right: 1.2em;
  text-align: center;
  line-height: 60px;
}
header #home .pc-nav #gnb li a {
  display: inline-block;
  position: relative;
  color: #000;
}
header #home .pc-nav #gnb li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}
header #home .pc-nav #gnb li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.5);
}
header #home .pc-nav #gnb li a:hover {
  font-weight: 600;
}
header #home .pc-nav .menu_top {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: 0.5s;
}
header #home .ham-icon {
  position: fixed;
  top: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 98;
}
header #home .ham-icon span {
  width: 28px;
  height: 6px;
  border-radius: 4px;
  background-color: #ff6464;
}
header #home .ham-icon span:nth-child(2) {
  margin: 6px 0;
}
header #home .mobile-nav-wrap {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 99;
  background-color: #77addf;
}
header #home .mobile-nav-wrap .closebtn {
  position: absolute;
  top: 24px;
  right: 40px;
  cursor: pointer;
}
header #home .mobile-nav-wrap .closebtn::before, header #home .mobile-nav-wrap .closebtn::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 8px;
  height: 38px;
  border-radius: 4px;
  background-color: #fcfcfc;
  cursor: pointer;
}
header #home .mobile-nav-wrap .closebtn::before {
  transform: rotate(45deg);
}
header #home .mobile-nav-wrap .closebtn::after {
  transform: rotate(-45deg);
}
header #home .mobile-nav-wrap .mobile-nav {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: mckloud-stroke;
}
header #home .mobile-nav-wrap .mobile-nav li a {
  font-size: 40px;
  letter-spacing: 8px;
  line-height: 100px;
  color: #fcfcfc;
}
header #home .mobile-nav-wrap .mobile-nav li a:hover {
  color: #fcfcfc;
  font-size: 50px;
  font-family: mckloud-full;
  transition: 0.6s;
}
header #home .mobile-nav-wrap .mobile-nav li a.active {
  color: #fcfcfc;
  font-size: 50px;
  font-family: mckloud-full;
}
header #home .intro-flip-wrap {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header #home .intro-flip-wrap h2 {
  font-weight: 500;
}
header #home .intro-flip-wrap #textFlip {
  position: relative;
  width: 200px;
  height: calc(1.4rem + 8px);
  margin: 20px auto;
  font-weight: 600;
  font-size: 1.4rem;
}
header #home .intro-flip-wrap #textFlip .text-wrap {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
header #home .intro-flip-wrap #textFlip .text-wrap div {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  margin-bottom: 4px;
}
header #home .intro-flip-wrap #textFlip .text-wrap .prev {
  top: -40px;
  transition: top 1s cubic-bezier(0.15, 0.17, 0.41, 0.95);
}
header #home .intro-flip-wrap #textFlip .text-wrap .current {
  top: 0;
  transition: top 1s cubic-bezier(0.15, 0.17, 0.41, 0.95);
}
header #home .intro-flip-wrap #textFlip .text-wrap .next {
  top: 40px;
}

/* ==================== main ==================== */
main {
  margin: 200px 0;
  line-height: 1.5em;
}
main .hide {
  opacity: 0;
}
main .show {
  opacity: 1;
  transition: 1s;
}
main #about {
  margin-bottom: 200px;
  text-align: center;
}
main #about .about-me .flexbox {
  display: flex;
  justify-content: space-between;
}
main #about .about-me .flexbox .me-emoticon {
  position: relative;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  main #about .about-me .flexbox .me-emoticon {
    width: 380px;
  }
}
main #about .about-me .flexbox .me-introduce {
  margin-bottom: 160px;
}
@media screen and (min-width: 1200px) {
  main #about .about-me .flexbox .me-introduce {
    width: 680px;
    text-align: left;
  }
}
main #about .about-me .flexbox .me-introduce strong {
  font-size: 1.4rem;
}
main #about .about-work .flexbox {
  display: flex;
  justify-content: space-between;
}
main #about .about-work .flexbox .about-work-title {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  main #about .about-work .flexbox .about-work-title {
    width: 380px;
    padding: 0 80px;
    font-size: 36px;
    text-align: right;
  }
}
main #about .about-work .flexbox .about-work-content {
  text-align: left;
}
@media screen and (min-width: 1200px) {
  main #about .about-work .flexbox .about-work-content {
    width: 680px;
    text-align: left;
  }
}
main #about .about-work .flexbox .about-work-content .about-work1 {
  margin-bottom: 40px;
}
main #about .about-work .flexbox .about-work-content h4 {
  margin-bottom: 12px;
}
main #skill {
  position: relative;
  margin-bottom: 200px;
  text-align: center;
}
main #skill .skill-bg {
  position: relative;
  background-color: #ddefc4;
}
@media screen and (min-width: 1200px) {
  main #skill .skill-bg {
    width: 100%;
    height: auto;
  }
}
main #skill .skill-bg .flower {
  position: absolute;
  top: 40px;
  left: 200px;
  width: 20px;
  height: 20px;
  background-color: pink;
  border-radius: 50%;
}
main #skill .skill-bg .grass {
  position: relative;
}
main #skill .skill-bg .grass img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  main #skill .skill-bg .grass img {
    max-height: 1180px;
  }
}
@media screen and (min-width: 1200px) {
  main #skill .skill-bg .grass img {
    max-height: 965.24px;
  }
}
main #skill .skill-bg .track {
  position: relative;
  width: 100%;
  padding: 168px 0;
}
main #skill .skill-bg .track img {
  width: 900px;
}
main #skill .skill-bg .skill-info {
  position: relative;
  padding: 80px 4%;
  border-radius: 20px;
}
main #skill .skill-bg .skill-info::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 1200px) {
  main #skill .skill-bg .skill-info {
    position: absolute;
    bottom: 448px;
    left: 348px;
    transform: translateX(-50%);
    background: none;
  }
}
main #skill .skill-bg .skill-info .info-box {
  position: relative;
  width: 100%;
  height: 180px;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 20px;
  font-size: 16px;
  background-color: rgba(252, 252, 252, 0.8);
}
@media screen and (min-width: 768px) {
  main #skill .skill-bg .skill-info .info-box {
    width: 48%;
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  main #skill .skill-bg .skill-info .info-box {
    position: absolute;
    top: 0;
    width: 480px;
  }
}
main #skill .skill-bg .skill-info .info-box .flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #skill .skill-bg .skill-info .info-box .flexbox .icon-box {
  height: 132px;
  margin-right: 24px;
  padding: 4px 0;
  z-index: 0;
}
main #skill .skill-bg .skill-info .info-box .flexbox .icon-box .img-box {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #skill .skill-bg .skill-info .info-box .flexbox .icon-box .img-box img {
  width: 100%;
}
main #skill .skill-bg .skill-info .info-box .flexbox .icon-box .skill-name {
  font-size: 16px;
  font-weight: 600;
}
main #skill .skill-bg .skill-info .info-box .flexbox .skill-des {
  height: 132px;
  padding: 4px 0;
  text-align: left;
  font-size: 16px;
}
main #skill .skill-bg .skill-info .info-box .flexbox .skill-des .percentage {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 800;
  color: rgba(51, 51, 51, 0.1);
}
@media screen and (min-width: 768px) {
  main #skill .skill-bg .skill-info .info-box1,
main #skill .skill-bg .skill-info .info-box3,
main #skill .skill-bg .skill-info .info-box5,
main #skill .skill-bg .skill-info .info-box7,
main #skill .skill-bg .skill-info .info-box9 {
    margin-right: 24px;
  }
}
main #skill .skill-circle {
  position: absolute;
  top: 0;
}
main #skill .skill-circle .circle {
  position: absolute;
  width: 60px;
  cursor: pointer;
  border-radius: 50%;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  color: #eee;
  line-height: 60px;
  offset-rotate: 0deg;
}
main #skill .skill-circle .circle:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
main #skill .skill-circle .cir-html {
  top: -920px;
  left: 0px;
  background-color: #f16529;
  -webkit-animation: trackPath 12s linear infinite;
          animation: trackPath 12s linear infinite;
  offset-path: path("M920.40,435.1S1017.07,205.51,717,176.22,305.36,232.4,238.81,355s26.41,163.54,59.26,164.32,81.73,9.13,123.51,43.8S642.87,698,767.92,680.11,866,558.12,920.40,435.1Z");
}
main #skill .skill-circle .cir-css {
  top: -920px;
  left: -30px;
  background-color: #0065f4;
  -webkit-animation: trackPath 16s linear infinite;
          animation: trackPath 16s linear infinite;
  offset-path: path("M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z");
}
main #skill .skill-circle .cir-sass {
  top: -920px;
  left: -40px;
  background-color: #cc6699;
  -webkit-animation: trackPath 18s 500ms linear infinite;
          animation: trackPath 18s 500ms linear infinite;
  offset-path: path("M1060,440S1096.68,156.74,734.88,132,238.5,189.56,200.25,339.24s31.85,199.67,90.46,200.62S328.26,551,378.64,593.33,645.47,758,796.25,736.16,1035.09,634.84,1060,440Z");
}
main #skill .skill-circle .cir-jquery {
  top: -940px;
  left: 0;
  background-color: #0868ac;
  -webkit-animation: trackPath 18s 500ms linear infinite;
          animation: trackPath 18s 500ms linear infinite;
  offset-path: path("M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z");
}
main #skill .skill-circle .cir-javascript {
  top: -880px;
  left: -30px;
  color: #666;
  background-color: #ffdf00;
  -webkit-animation: trackPath 12s 1000ms linear infinite;
          animation: trackPath 12s 1000ms linear infinite;
  offset-path: path("M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z");
}
main #skill .skill-circle .cir-react {
  top: -880px;
  left: 0;
  background-color: #6ecff1;
  -webkit-animation: trackPath 14s 1000ms linear infinite;
          animation: trackPath 14s 1000ms linear infinite;
  offset-path: path("M920.40,435.1S1017.07,205.51,717,176.22,305.36,232.4,238.81,355s26.41,163.54,59.26,164.32,81.73,9.13,123.51,43.8S642.87,698,767.92,680.11,866,558.12,920.40,435.1Z");
}
main #skill .skill-circle .cir-git {
  top: -900px;
  left: 10px;
  background-color: #ee2330;
  -webkit-animation: trackPath 18s 1500ms linear infinite;
          animation: trackPath 18s 1500ms linear infinite;
  offset-path: path("M920.40,435.1S1017.07,205.51,717,176.22,305.36,232.4,238.81,355s26.41,163.54,59.26,164.32,81.73,9.13,123.51,43.8S642.87,698,767.92,680.11,866,558.12,920.40,435.1Z");
}
main #skill .skill-circle .cir-nodejs {
  top: -940px;
  left: 0;
  background-color: #3f873f;
  -webkit-animation: trackPath 22s 1500ms linear infinite;
          animation: trackPath 22s 1500ms linear infinite;
  offset-path: path("M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z");
}
main #skill .skill-circle .cir-bootstrap {
  top: -920px;
  left: 0;
  background-color: #7952b3;
  -webkit-animation: trackPath 20s 2000ms linear infinite;
          animation: trackPath 20s 2000ms linear infinite;
  offset-path: path("M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z");
}
main #skill .skill-circle .cir-photoshop {
  top: -940px;
  left: 0;
  background-color: #31a8ff;
  -webkit-animation: trackPath 10s 2000ms linear infinite;
          animation: trackPath 10s 2000ms linear infinite;
  offset-path: path("M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z");
}
main #skill .skill-circle .cir-illust {
  top: -900px;
  left: -40px;
  background-color: #ff9a00;
  -webkit-animation: trackPath 22s 2500ms linear infinite;
          animation: trackPath 22s 2500ms linear infinite;
  offset-path: path("M1060,440S1096.68,156.74,734.88,132,238.5,189.56,200.25,339.24s31.85,199.67,90.46,200.62S328.26,551,378.64,593.33,645.47,758,796.25,736.16,1035.09,634.84,1060,440Z");
}
main #portfolio {
  text-align: center;
}
main #portfolio .pofol-box {
  width: 100%;
  margin-bottom: 120px;
}
@media screen and (min-width: 768px) {
  main #portfolio .pofol-box {
    margin-bottom: 160px;
  }
}
@media screen and (min-width: 768px) {
  main #portfolio .pofol-box .flexbox {
    flex-direction: row;
    justify-content: space-between;
  }
}
main #portfolio .pofol-box .flexbox .pofol-thumbnail {
  position: relative;
  width: 100%;
}
main #portfolio .pofol-box .flexbox .pofol-thumbnail img {
  display: block;
  width: 100%;
  margin-bottom: 28px;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 10px 20px;
}
@media screen and (min-width: 768px) {
  main #portfolio .pofol-box .flexbox .pofol-thumbnail img {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
main #portfolio .pofol-box .flexbox .pofol-info {
  text-align: left;
}
@media screen and (min-width: 768px) {
  main #portfolio .pofol-box .flexbox .pofol-info {
    text-align: unset;
    width: min(80%, 400px);
  }
}
main #portfolio .pofol-box .flexbox .pofol-info > div {
  font-size: 1.2rem;
}
main #portfolio .pofol-box .flexbox .pofol-info .pofol-title {
  margin-top: 10px;
  font-size: 1.6rem;
}
main #portfolio .pofol-box .flexbox .pofol-info .pofol-des {
  margin-top: 10px;
  font-size: 16px;
}
main #portfolio .pofol-box .flexbox .pofol-info .modal-btn {
  display: flex;
  margin-top: 20px;
}
main #portfolio .pofol-box .flexbox .pofol-info .modal-btn button {
  width: 128px;
  height: 48px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #fcfcfc;
  background-color: #77addf;
}
main #portfolio .pofol-box .flexbox .pofol-info .modal-btn button:last-child {
  margin-left: 24px;
}
main #portfolio .pofol-box .flexbox .pofol-info .modal-btn button:hover {
  color: #77addf;
  background-color: #ddefc4;
  transition: 0.28s;
}
main #portfolio .pofol-box .flexbox .pofol-info .modal-btn button a {
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  main #portfolio .left {
    text-align: left;
  }
  main #portfolio .left .pofol-thumbnail {
    margin-right: 40px;
  }
  main #portfolio .right {
    text-align: right;
  }
  main #portfolio .right .pofol-thumbnail {
    margin-left: 40px;
    order: 2;
  }
  main #portfolio .right .pofol-info {
    order: 1;
    text-align: right;
  }
  main #portfolio .right .modal-btn {
    justify-content: right;
  }
  main #portfolio .right .modal-btn button {
    margin-right: 0;
    margin-left: 24px;
  }
}

/* ==================== footer ==================== */
footer {
  position: relative;
}
footer .footer-bg {
  position: relative;
  padding: 100px 0;
  background-color: #ddefc4;
  background: linear-gradient(transparent, #ddefc4);
}
footer .footer-bg .contact {
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .footer-bg .contact {
    font-size: 24px;
  }
}
footer .footer-bg .contact .email {
  position: relative;
  display: inline-block;
  margin: 24px 0 14px 0;
  cursor: pointer;
  font-size: 32px;
}
footer .footer-bg .contact .email::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 6px;
  border-radius: 4px;
  background: rgba(246, 209, 95, 0.5);
}
footer .footer-bg .contact .email:hover::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  transition: all 0.6s ease;
  background: rgba(246, 209, 95, 0.6);
}
@media screen and (min-width: 768px) {
  footer .footer-bg .contact .email {
    font-size: 48px;
  }
}
footer .footer-bg .contact p {
  margin-bottom: 60px;
  font-size: 16px;
  color: #888;
}
footer .footer-bg .contact .git,
footer .footer-bg .contact .topbtn {
  margin: 0 auto;
}
footer .footer-bg .contact .git img,
footer .footer-bg .contact .topbtn img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-bg .contact .git {
  max-width: 48px;
  max-height: 48px;
  margin-bottom: 80px;
}
footer .footer-bg .contact .topbtn {
  width: 48px;
  height: 48px;
}
footer .footer-bg .contact .topbtn:hover {
  filter: hue-rotate(60deg);
  transition: all 0.4s;
}
footer .copyright {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: center;
  font-size: 14px;
  color: #eee;
  background: #77addf;
}/*# sourceMappingURL=index.css.map */