@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;

  @include responsive(desktop-screens) {
    width: 1200px;
    padding: 0;
  }
}

.flexbox {
  @include flex-box {
    flex-direction: column;
  }

  @include responsive(desktop-screens) {
    flex-direction: row;
  }
}

.mobile-only {
  display: block;

  @include responsive(tablet-screens) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @include responsive(desktop-screens) {
    display: block;
  }
}

.large-only {
  display: none;

  @include responsive(tablet-screens) {
    display: block;
  }
}

h3 { // 섹션 타이틀 (공통소스)
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
  color: $color-main;

  &::after {
    content: '';
    position: absolute;
    left: 0; bottom: -20px;
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background: $color-main;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes moveto{
  0%{
      offset-distance: 0%
  }
  100%{
      offset-distance: 100%;
  }
}

/* ==================== header ==================== */

header {
  position: relative;
  width: 100vw;
  // background-color: aquamarine;

  #home {
    .logo {
      position: fixed;
      padding: 20px;
      z-index: 98;

      img {
        width: 60px;
        height: 60px;
        cursor: pointer;
      }
    } // logo

    .header-bg {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: linear-gradient($color-main, transparent);

      .cloud-animation {
        width: 100%; 
        margin-bottom: 20px;
        background-color: pink;
        z-index: 0;
        object-fit: cover;
        
        .cloud-wrap {
          display: flex;
          // width: 2240px; // 280px * 8개
          background-color: #ff9a00;

          & > div:first-child {
            width: 100vw;
            // background-color:#0065f4;
          }
          
          .cloud {
            position: absolute;
            width: 100vw;

            margin-right: 20px;
            // background-color: #cc6699;

            img {
              // position: absolute;
              // right: 0;
              max-width: 24vw;
              object-fit: cover;
            }
          }

          .cloud1 {
            top: -6%;
            right: 0;
            animation: cloudLoop 20s infinite linear;

            @include responsive(tablet-screens) {
              top: -20%;
            }
          }

          .cloud2 {
            top: 20%;
            left: 80%;
            animation: cloudLoop 30s infinite linear;
          }

          .cloud3 {
            top: 70%;
            left: 50%;
            animation: cloudLoop 22s infinite linear;
          }

          // .first {
          //   left: -100%;
          //   background-color: #0065f4;
          //   transition: 3s;
          // }

          // .second {
          //   left: 0;
          //   background-color: yellow;
          //   transition: 3s;
          // }

          // .last {
          //   left: 100%;
          //   background-color: #cc6699;
          //   transition: 3s;
          // }
        } // cloud-wrap
      } // cloud-animation
    } // header-bg

    nav {
      position: fixed;
      top: 0; left: 50%;
      transform: translateX(-50%);
      width: 100%;
      z-index: 99;
      // background-color: #cc6699;
      
      #gnb {
        display: flex;
        justify-content: center;
        height: 60px;

        li {
          width: 160px;
          margin-right: 1.2em;
          text-align: center;
          line-height: 60px;

          a {
            color: $body-bg;
          }

          a:hover {
            font-weight: 600;
            color: $color-sub;
          }
        } // li
      } // gnb

      .menu_top {
        background-color: $color-main;
        transition: 1s;
      }
    } // nav

    .ham-icon {
      position: fixed;
      top: 30px; right: 20px;
      cursor: pointer;
      z-index: 98;

      span {
        width: 28px;
        height: 6px;
        border-radius: 4px;
        background-color: #ff6464;

        &:nth-child(2) {
          margin: 6px 0;
        }
      } // span
    } // ham-icon

    .mobile-nav-wrap {
      position: fixed;
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: 0.5s;
      z-index: 99;
      background-color: $color-main;

      .closebtn {
        position: absolute;
        top: 24px; right: 40px;
        cursor: pointer;
        background-color: #0065f4;

        &::before,
        &::after {
          display: inline-block;
          position: absolute;
          top: 0; left: 50%;
          transform: translate(-50%, -50%);
          content: '';
          width: 8px;
          height: 38px;
          border-radius: 4px;
          background-color: $body-bg;
          cursor: pointer;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      } // close-btn

      .mobile-nav {
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        width: 100%;
        text-align: center;
        margin-top: 30px;
        font-family: mckloud-stroke;

        li {

          a {
            font-size: 52px;
            letter-spacing: 8px;
            line-height: 100px;
            color: $body-bg;

            &:hover {
              color: $body-bg;
              font-size: 56px;
              font-family: mckloud-full;
              transition: 0.8s;
            }
          } // a
        } // li
      } // mobile-nav
    } // mobile-nav-wrap

    .intro-flip-wrap {
      position: absolute;
      width: 90%;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      
      #textFlip {
        position: relative;
        width: 200px;
        height: calc($strong-text-M + 8px);
        margin: 20px auto;
        font-weight: 600;
        font-size: $strong-text-M;

        .text-wrap {
          position: relative;
          width: auto;
          height: 100%;
          margin: 0 auto;
          overflow: hidden;

          div {
            position: absolute;
            top: -40px; left: 50%;
            transform: translateX(-50%);
            width: 160px;
            margin-bottom: 4px;
          }

          .prev{
            top: -40px;
            transition: top 1s cubic-bezier(.15,.17,.41,.95);
          }
          .current{
            top: 0;
            transition: top 1s cubic-bezier(.15,.17,.41,.95);
          }
          .next{
            top: 40px
          }
        } // text-wrap   
      } // #textFlip
    } // intro-slide-wrap
  } // #home
} // header


/* ==================== main ==================== */

main {
  margin: 200px 0;
  line-height: 1.5em;

  #about {
    margin-bottom: $section-end;
    text-align: center;

    .about-me {
      .flexbox {
        @include flex-box {
          justify-content: space-between;
        }
        
        .me-emoticon {
          position: relative;
          margin-bottom: 40px;
  
          @include responsive(desktop-screens) {
            width: 380px;
          }

          img {
            cursor: pointer;
          }

          .me-circle {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 222px;
            height: 222px;
            padding: 70px 0;
            border-radius: 50%;
            font-size: 16px;
            cursor: pointer;
            background: $color-main;

            transform-style: preserve-3d;
            visibility: hidden;
            // transition: all 1s;
          }

          // *************************************
          .flip {

            .front {
              transform:rotateY(0deg);

            }

            .back {
              transform:rotateY(180deg);
              
            }

          } // flip
        } // me-emoticon
  
        .me-introduce {
          margin-bottom: 160px;
          
          @include responsive(desktop-screens) {
            width: 680px;
            text-align: left;
          }

          strong {
            font-size: $strong-text-L;
          }
        } // me-introduce
      } // flexbox
    } // about-me

    .about-work {
      @include responsive(desktop-screens) {
        margin-top: 160px;
      }

      .flexbox {
        @include flex-box {
          justify-content: space-between;
        }

        .about-work-title {
          text-align: left;
          font-size: $strong-text-L;
          line-height: 2.6rem;
          margin-bottom: 80px;

          @include responsive(desktop-screens) {
            width: 380px;
            padding: 0 80px;
            font-size: 36px;
            text-align: right;
          }
        } // about-work-title
  
        .about-work-content {
          text-align: left;

          @include responsive(desktop-screens) {
            width: 680px;
            text-align: left;
            // background-color: yellow;
          }
  
          .about-work1 {
            margin-bottom: 40px;
          }
  
          h4 {
            margin-bottom: 12px;
          }
        } // about-work-content
      } // flexbox
    } // about-work
  } // #about

  


  #skill {
    position: relative;
    margin-bottom: $section-end;
    text-align: center;

    .skill-bg {
      position: relative;
      background-color: $color-sub;
      
      @include responsive(desktop-screens) {
        width: 100%;
        height: auto;
      }

      .grass {
        position: relative;
        // width: 100%;

        img {
          position: absolute;
          top: 0; left: 50%;
          transform: translateX(-50%);
          object-fit: cover;

          @include responsive(tablet-screens) {
            max-height: 1180px;
          }

          @include responsive(desktop-screens) {
            max-height: 965.24px;
          }
        }
      } // grass

      .track {
        position: relative;
        width: 100%;
        padding: 168px 0;

        img {
          width: 900px;
        }

        svg {
          position: absolute;
          top: 168px; left: 0;
          // width: 100%;
          // height: 60%;
          background-color: rgba(252, 252, 252, 0.6);

    
        }
      } // track



      .skill-info {
        position: relative;
        padding: 80px 4%;
        border-radius: 20px;
        // background-color: $color-sub;
  
        &::after {
          content: '';
          display: block;
          clear: both;
        }
  
        @include responsive(desktop-screens) {
          position: absolute;
          bottom: 448px; left: 348px;
          transform: translateX(-50%);
          background: none;
        }
  
        // skill-info 공통소스 시작
        .info-box {
          width: 100%;
          height: 180px;
          padding: 24px;
          margin-bottom: 24px;
          border-radius: 20px;
          font-size: 16px;
          background-color: rgba(252, 252, 252, 0.8);
  
          @include responsive (tablet-screens) {
            width: 48%;
            float: left;
          }
  
          @include responsive (desktop-screens) {
            position: absolute;
            top: 0;
            width: 480px;
          }
  
          .flexbox {
            @include flex-box {
              flex-direction: row;
              align-items: center;
            }
  
            .icon-box {
              height: 132px;
              margin-right: 24px;
              padding: 4px 0;
              line-height: 1;
              // background-color: pink;
  
              .img-box {
                width: 80px;
                height: 80px;
                margin-bottom: 20px;
                object-fit: cover;
  
                img {
                  width: 100%;
                }
              } // img-box
  
              .skill-name {
                font-size: 16px;
                font-weight: 600;
              }
            } // icon-box
  
            .skill-des {
              height: 132px;
              padding: 4px 0;
              text-align: left;
              font-size: 16px;
            }
          } // flexbox
        } // info-box
  
        .info-box1,
        .info-box3,
        .info-box5,
        .info-box7,
        .info-box9 {
          @include responsive(tablet-screens) {
            margin-right: 24px;
          }
        }
        // skill-info 공통소스 끝 (올리기)

      } // skill-info
    } // skill-bg



    .skill-circle {
      position: absolute;
      top: 0; 

      .circle {
        position: absolute;
        width: 80px;
        height: 80px;
        cursor: pointer;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 600;
        color: #eee;
        line-height: 80px;
      }

      .cir-html {
        top: -460px; left: 900px;
        background-color: #f16529;

      }
      .cir-css {
        top: -420px; left: 940px;
        background-color: #0065f4;
      }
      .cir-sass {
        top: -340px; left: 900px;
        background-color: #cc6699;
      }
      .cir-bootstrap {
        top: -420px; left: 200px;
        background-color: #7952b3;
      }
      .cir-javascript {
        top: -280px; left: 620px;
        color: #666;
        background-color: #ffdf00;
      }
      .cir-jquery {
        top: -340px; left: 500px;
        background-color: #0868ac;
      }
      .cir-react {
        top: -300px; left: 400px;
        background-color: #6ecff1;
      }
      .cir-photoshop {
        top: -260px; left: 840px;
        background-color: #31a8ff;
      }
      .cir-illust {
        top: -340px; left: 800px;
        background-color: #ff9a00;
      }
    } // skill-circle
  } // #skill


  #portfolio {
    text-align: center;

    // pofol-box 공통소스 시작
    .pofol-box {
      width: 100%;
      margin-bottom: 160px;

      .flexbox {
        @include responsive(tablet-screens) {
          flex-direction: row;
          justify-content: space-between;
        }

        .pofol-thumbnail {
          position: relative;
          width: 100%;

          img {
            width: 100%;
            background-color: #0065f4;
          } // img
        } // pofol-thumbnail


        .pofol-info {
          text-align: left;

          @include responsive(tablet-screens) {
            // flex 속성 비율 지정하는 법 공부해서 적용하기 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            text-align: unset;
            background-color: #cc6699;
          }

          & > div {
            font-size: $title-font-size-S;
          }

          .pofol-title {
            margin-top: 10px;
            font-size: $title-font-size-M;
          }

          .pofol-des {
            margin-top: 10px;
            font-size: 16px;
          }

          .modal-btn {
            display: flex;
            margin-top: 20px;
  
            button {
              width: 128px;
              height: 48px;
              // margin-right: 24px;
              border-radius: 20px;
              border: none;
              font-size: 16px;
              cursor: pointer;
              color: $body-bg;
              background-color: $color-main;

              &:last-child {
                margin-left: 24px;
              }

              &:hover {
                color: $color-main;
                background-color: $color-sub;
                transition: 0.2s;
              }
            } // button
          } // modal-btn
        } // pofol-info
      } // flexbox
    } // pofol-box
    // pofol-box 공통소스 끝

    @include responsive(tablet-screens) {
      .left {
        text-align: left;

        .pofol-thumbnail {
          margin-right: 20px;
        }
      } // left

      .right {
        text-align: right;

        .pofol-thumbnail {
          margin-left: 20px;
          order: 2;
        }

        .pofol-info {
          order: 1;
          text-align: right;
        }

        .modal-btn {
          justify-content: right;

          button {
            margin-right: 0;
            margin-left: 24px;
          }
        }
      } // right
    } // responsive - left&right 레이아웃 설정


  } // #portfolio



} // main


/* ==================== footer ==================== */

footer {
  position: relative;

  .footer-bg {
    position: relative;
    padding: 100px 0;
    background-color: $color-sub;
    background: linear-gradient(transparent, $color-sub);

    .contact {
      text-align: center;

      @include responsive(tablet-screens) {
        font-size: 24px;
      }

      address {
        margin: 24px 0 60px 0;
        cursor: pointer;
        font-size: 32px;

        &:hover {
          color: $color-main;
          // 호버하면 밑줄 형광펜 애니메이션으로 바꾸기, Outlook기능 넣어보기 outlook은 시간 없으면 넘기기
        }

        @include responsive(tablet-screens) {
          font-size: 48px;
        }
      } // address

      .git,
      .topbtn {
        margin: 0 auto;

        img {
          width: 100%;
          object-fit: cover;
        }
      } // git, topbtn 

      .git {
        max-width:48px;
        max-height: 48px;
        margin-bottom: 80px;
      } // git

      .topbtn {
        width: 48px;
        height: 48px;

        &:hover {
          filter: hue-rotate(60deg);
          transition: 0.4s;
        }
      } // topbtn
    } // contact
  } // footer-bg

  .copyright {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    vertical-align: center;
    font-size: 14px;
    color: #eee;
    background: $color-main;
  }
} // footer