@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;

  @include responsive(desktop-screens) {
    width: 1200px;
    padding: 0;
  }
}

.flexbox {
  @include flex-box {
    flex-direction: column;
  }

  @include responsive(desktop-screens) {
    flex-direction: row;
  }
}

.mobile-only {
  display: block;

  @include responsive(tablet-screens) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @include responsive(desktop-screens) {
    display: block;
  }
}

.large-only {
  display: none;

  @include responsive(tablet-screens) {
    display: block;
  }
}

h2 { // 섹션 타이틀 (공통소스)
  display: inline-block;
  position: relative;
  margin-bottom: 160px;
  text-align: left;
  color: $color-main;
  // background-color: #000;

  &::after {
    content: '';
    position: absolute;
    left: 0; bottom: -20px;
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background: $color-main;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes trackPath {
  0% {
    offset-distance: 0;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes moveLogo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes blurMe {
  0% {
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* ==================== header ==================== */

header {
  position: relative;
  width: 100vw;

  #home {
    .logo {
      position: fixed;
      padding: 20px;
      z-index: 98;

      img {
        width: 48px;
        height: 48px;
        cursor: pointer;
        // animation: moveLogo .4s ease-out backwards;
        // background-color: #000;
      }
    } // logo

    .header-bg {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: linear-gradient($color-main, transparent);

      .cloud-animation {
        width: 100%; 
        margin-bottom: 20px;
        z-index: 0;
        object-fit: cover;
        
        .cloud-wrap {
          display: flex;

          & > div:first-child {
            width: 100vw;
          }
          
          .cloud {
            position: absolute;
            width: 100vw;
            margin-right: 20px;

            img {
              max-width: 24vw;
              object-fit: cover;
            }
          }

          .cloud1 {
            top: -6%;
            right: 0;
            animation: cloudLoop 18s infinite linear;

            @include responsive(tablet-screens) {
              top: -16%;
            }
          }

          .cloud2 {
            top: 20%;
            left: 80%;
            animation: cloudLoop 26s infinite linear;
          }

          .cloud3 {
            top: 70%;
            left: 50%;
            animation: cloudLoop 22s infinite linear;
          }
        }
      } // cloud-animation
    } // header-bg

    .pc-nav {
      position: fixed;
      top: 20px; left: 50%;
      width: 80%;
      height: 60px;
      border-radius: 20px;
      transform: translateX(-50%);
      z-index: 99;

      #gnb {
        display: flex;
        justify-content: center;

        li {
          width: 160px;
          margin-right: 1.2em;
          text-align: center;
          line-height: 60px;

          a {
            display: inline-block;
            position: relative;
            color: #000;

            &::after {
              content: '';
              position: absolute;
              left: 0; bottom: 20px;
              width: 100%;
              height: 4px;
              border-radius: 4px;
              opacity: 0;
              background: rgba(0, 0, 0, .5);

              transition: all .4s ease;

            }

            &:hover {
              font-weight: 600;
            }

            &:hover::after {
              left: 0; bottom: 16px;

              // content: '';
              // position: absolute;
              // width: 100%;
              // height: 4px;
              // border-radius: 4px;
              opacity: 1;
              // background: rgba(0, 0, 0, .5);
            }

            &.active_pc::after {
              display: block;
              content: '';
              position: absolute;
              left: 0; bottom: 16px;
              width: 100%;
              height: 4px;
              border-radius: 4px;
              background: rgba(0, 0, 0, .5);
            }

            &.active_pc {
              font-weight: 600;
            }
          }
        } // li
      } // gnb

      .menu_top {
        border: 1px solid  rgba(0, 0, 0, .2);
        border-radius: 20px;
        backdrop-filter: blur(3px);
        transition: .5s;
      }
    } // nav

    .ham-icon {
      position: fixed;
      top: 30px; right: 20px;
      cursor: pointer;
      z-index: 98;

      span {
        width: 28px;
        height: 6px;
        border-radius: 4px;
        background-color: #ff6464;

        &:nth-child(2) {
          margin: 6px 0;
        }
      } // span
    } // ham-icon

    .mobile-nav-wrap {
      position: fixed;
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: 0.5s;
      z-index: 99;
      background-color: $color-main;

      .closebtn {
        position: absolute;
        top: 24px; right: 40px;
        cursor: pointer;

        &::before,
        &::after {
          display: inline-block;
          position: absolute;
          top: 0; left: 50%;
          transform: translate(-50%, -50%);
          content: '';
          width: 8px;
          height: 38px;
          border-radius: 4px;
          background-color: $body-bg;
          cursor: pointer;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      } // close-btn

      .mobile-nav {
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        width: 100%;
        text-align: center;
        margin-top: 30px;
        font-family: mckloud-stroke;

        li {
          a {
            font-size: 40px;
            letter-spacing: 8px;
            line-height: 100px;
            color: $body-bg;

            &:hover {
              color: $body-bg;
              font-size: 50px;
              font-family: mckloud-full;
              transition: 0.6s;
            }

            &.active {
              color: $body-bg;
              font-size: 50px;
              font-family: mckloud-full;
            }
          } // a
        } // li
      } // mobile-nav
    } // mobile-nav-wrap

    .intro-flip-wrap {
      position: absolute;
      width: 90%;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      h2 {
        font-weight: 500;
      }

      span {
        font-size: $title-font-size-L;
        letter-spacing: 0.4rem;
        filter: blur(8px);
        animation: blurMe 1.4s ease-in-out forwards;
        opacity: 0;
      }
      
      @for $i from 1 through 13 {
        span:nth-child(2n + #{$i}) {
          animation-delay: calc(100ms * #{$i});
        }
      }

      #textFlip {
        position: relative;
        width: 200px;
        height: calc($strong-text-M + 8px);
        margin: 48px auto;
        font-weight: 600;
        font-size: $strong-text-M;
        opacity: 1;
        animation: blurMe 1s 2s forwards;

        .text-wrap {
          position: relative;
          width: auto;
          height: 100%;
          margin: 0 auto;
          overflow: hidden;

          div {
            position: absolute;
            top: -40px; left: 50%;
            transform: translateX(-50%);
            width: 160px;
            margin-bottom: 4px;
          }

          .prev{
            top: -40px;
            transition: top 1s ease;
          }
          .current{
            top: 0;
            transition: top 1s ease;
          }
          .next{
            top: 40px
          }
        } // text-wrap   
      } // #textFlip
    } // intro-slide-wrap
  } // #home
} // header


/* ==================== main ==================== */
main {
  margin: 200px 0;
  line-height: 1.5em;

  .hide {
    opacity: 0;
  }

  .show {
    opacity: 1;
    transition: .5s;
  }

  #about {
    margin-bottom: $section-end;
    text-align: center;

    .about-me {
      .flexbox {
        @include flex-box {
          justify-content: space-between;
        }
        
        .me-emoticon {
          position: relative;
          margin-bottom: 40px;
  
          @include responsive(desktop-screens) {
            left: -200px;
            width: 380px;
            opacity: 0;
          }
        } // me-emoticon
  
        .me-introduce {
          position: relative;
          margin-bottom: 160px;
          
          @include responsive(desktop-screens) {
            right: -200px;
            width: 680px;
            text-align: left;
            opacity: 0;
          }

          strong {
            font-size: $strong-text-M;
          }
        } // me-introduce
      } // flexbox
    } // about-me

    .about-work {
      .flexbox {
        @include flex-box {
          justify-content: space-between;
        }

        .about-work-title {
          position: relative;
          text-align: left;
          font-size: $strong-text-L;
          line-height: 2.6rem;
          margin-bottom: 80px;

          @include responsive(desktop-screens) {
            left: -200px;
            width: 380px;
            padding: 0 80px;
            font-size: 36px;
            text-align: right;
            opacity: 0;
          }
        } // about-work-title
  
        .about-work-content {
          position: relative;
          text-align: left;

          @include responsive(desktop-screens) {
            right: -200px;
            width: 680px;
            text-align: left;
            opacity: 0;
          }
  
          .about-work1 {
            margin-bottom: 40px;
          }
  
          h4 {
            margin-bottom: 12px;
          }
        } // about-work-content
      } // flexbox
    } // about-work
  } // #about


  #skill {
    position: relative;
    margin-bottom: $section-end;
    text-align: center;

    .skill-bg {
      position: relative;
      background-color: $color-sub;
      
      @include responsive(desktop-screens) {
        width: 100%;
        height: auto;
      }

      .flower {
        position: absolute;
        top: 40px;
        left: 200px;
        width: 20px;
        height: 20px;
        background-color: pink;
        border-radius: 50%;
      }

      .grass {
        position: relative;

        img {
          position: absolute;
          top: 0; left: 50%;
          transform: translateX(-50%);
          object-fit: cover;

          @include responsive(tablet-screens) {
            max-height: 1180px;
          }

          @include responsive(desktop-screens) {
            max-height: 965.24px;
          }
        }
      } // grass

      .track {
        position: relative;
        width: 100%;
        padding: 168px 0;

        img {
          width: 900px;
        }
      } // track

      .skill-info {
        position: relative;
        padding: 80px 4%;
        border-radius: 20px;
  
        &::after {
          content: '';
          display: block;
          clear: both;
        }
  
        @include responsive(desktop-screens) {
          position: absolute;
          bottom: 448px; left: 348px;
          transform: translateX(-50%);
          background: none;
        }
  
        // skill-info 공통소스 시작
        .info-box {
          position: relative;
          width: 100%;
          height: 180px;
          padding: 24px;
          margin-bottom: 24px;
          border-radius: 20px;
          font-size: 16px;
          background-color: rgba(252, 252, 252, 0.8);
  
          @include responsive (tablet-screens) {
            width: 48%;
            float: left;
          }
  
          @include responsive (desktop-screens) {
            position: absolute;
            top: 0;
            width: 480px;
          }
  
          .flexbox {
            @include flex-box {
              flex-direction: row;
              align-items: center;
            }
  
            .icon-box {
              height: 132px;
              margin-right: 24px;
              padding: 4px 0;
              z-index: 0;

              .img-box {
                width: 80px;
                height: 80px;
                margin-bottom: 20px;
                object-fit: cover;
  
                img {
                  width: 100%;
                }
              } // img-box
  
              .skill-name {
                font-size: 16px;
                font-weight: 600;
              }
            } // icon-box
  
            .skill-des {
              height: 132px;
              padding: 4px 0;
              text-align: left;
              font-size: 16px;
              // z-index: 0;

              .percentage {
                position: absolute;
                top: 50%; left: 60%;
                transform: translate(-50%, -50%);
                font-size: 60px;
                font-weight: 800;
                color: rgba(51, 51, 51, .1);
              }
            }
          } // flexbox
        } // info-box
  
        .info-box1,
        .info-box3,
        .info-box5,
        .info-box7,
        .info-box9 {
          @include responsive(tablet-screens) {
            margin-right: 24px;
          }
        }
        // skill-info 공통소스 끝 (올리기)
      } // skill-info
    } // skill-bg

    .skill-circle {
      position: absolute;
      top: 0; 

      .circle {
        position: absolute;
        width: 60px;
        cursor: pointer;
        border-radius: 50%;
        height: 60px;
        font-size: 16px;
        font-weight: 600;
        color: #eee;
        line-height: 60px;
        // transform: rotate(90deg);
        offset-rotate: 0deg;
        
        &:hover {
          animation-play-state: paused;
        }
      }

      .cir-html {
        top: -920px; left: 0px;
        background-color: #f16529;
        animation: trackPath 10.4s linear infinite;
        offset-path: path('M920.40,435.1S1017.07,205.51,717,176.22,305.36,232.4,238.81,355s26.41,163.54,59.26,164.32,81.73,9.13,123.51,43.8S642.87,698,767.92,680.11,866,558.12,920.40,435.1Z');
      }

      .cir-css {
        top: -920px; left: -30px;
        background-color: #0065f4;
        animation: trackPath 14s linear infinite;
        offset-path: path('M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z');
      }
      .cir-sass {
        top: -920px; left: -40px;
        background-color: #cc6699;
        animation: trackPath 16s 500ms linear infinite;
        offset-path: path('M1060,440S1096.68,156.74,734.88,132,238.5,189.56,200.25,339.24s31.85,199.67,90.46,200.62S328.26,551,378.64,593.33,645.47,758,796.25,736.16,1035.09,634.84,1060,440Z');
      }
      .cir-jquery {
        top: -940px; left: 0;
        background-color: #0868ac;
        animation: trackPath 16s 500ms linear infinite;
        offset-path: path('M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z');
      }
      .cir-javascript {
        top: -880px; left: -30px;
        color: #666;
        background-color: #ffdf00;
        animation: trackPath 10s 1000ms linear infinite;
        offset-path: path('M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z');
      }
      .cir-react {
        top: -880px; left: 0;
        background-color: #6ecff1;
        animation: trackPath 11.2s 1000ms linear infinite;
        offset-path: path('M920.40,435.1S1017.07,205.51,717,176.22,305.36,232.4,238.81,355s26.41,163.54,59.26,164.32,81.73,9.13,123.51,43.8S642.87,698,767.92,680.11,866,558.12,920.40,435.1Z');
      }
      .cir-git {
        top: -900px; left: 10px;
        background-color: #ee2330;
        animation: trackPath 18s 1500ms linear infinite;
        offset-path: path('M920.40,435.1S1017.07,205.51,717,176.22,305.36,232.4,238.81,355s26.41,163.54,59.26,164.32,81.73,9.13,123.51,43.8S642.87,698,767.92,680.11,866,558.12,920.40,435.1Z');
      }
      .cir-nodejs {
        top: -940px; left: 0;
        background-color: #3f873f;
        animation: trackPath 22s 1500ms linear infinite;
        offset-path: path('M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z');
      }
      .cir-bootstrap {
        top: -920px; left: 0;
        background-color: #7952b3;
        animation: trackPath 20s 2000ms linear infinite;
        offset-path: path('M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z');
      }
      .cir-photoshop {
        top: -940px; left: 0;
        background-color: #31a8ff;
        animation: trackPath 10s 2000ms linear infinite;
        offset-path: path('M1001.17,438.72s41.55-246.48-276.6-277.93S288.07,221.1,217.5,352.72s28,175.58,62.84,176.42,86.66,9.8,131,47S645.94,721,778.54,701.76,988.56,612.66,1001.17,438.72Z');
      }
      .cir-illust {
        top: -900px; left: -40px;
        background-color: #ff9a00;
        animation: trackPath 18s 2500ms linear infinite;
        offset-path: path('M1060,440S1096.68,156.74,734.88,132,238.5,189.56,200.25,339.24s31.85,199.67,90.46,200.62S328.26,551,378.64,593.33,645.47,758,796.25,736.16,1035.09,634.84,1060,440Z');
      }
    } // skill-circle
  } // #skill


  #portfolio {
    text-align: center;


    // pofol-box 공통소스 시작
    .pofol-box {
      width: 100%;
      margin-bottom: 120px;

      @include responsive(tablet-screens) {
        margin-bottom: 160px;
      }

      .flexbox {
        @include responsive(tablet-screens) {
          flex-direction: row;
          justify-content: space-between;
        }

        .pofol-thumbnail {
          position: relative;
          width: 100%;

          @include responsive(tablet-screens) {
            width: 80%;
          }
          
          img {
            display: block;
            width: 100%;
            margin-bottom: 28px;
            overflow: hidden;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.29) 0px 10px 20px;

            @include responsive(tablet-screens) {
              flex-direction: row;
              justify-content: space-between;
              margin-bottom: 0;
            }
          } // img
        } // pofol-thumbnail

        .pofol-info {
          text-align: left;

          @include responsive(tablet-screens) {
            text-align: unset;
            width: min(80%, 600px);
          }

          & > div {
            font-size: $title-font-size-S;
          }

          .pofol-title {
            margin-top: 10px;
            font-size: $title-font-size-M;
          }

          .pofol-des {
            margin-top: 10px;
            font-size: 16px;
          }

          .link-btn {
            display: flex;
            margin-top: 20px;
  
            button,
            a {
              display: block;
              position: relative;
              width: 128px;
              height: 48px;
              border-radius: 20px;
              // border: 2px solid $color-main;
              border: none;
              cursor: pointer;
              font-size: 16px;
              color: $body-bg;
              background-color: $color-main;
              overflow: hidden;
              z-index: 1;

              &:first-child {
                margin-right: 24px;
              }

              &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                top: 0; left: 0;
                z-index: -1;
                border-radius: 5px;
                background-color: $color-main;
                background-image: linear-gradient(315deg, #d9adf0 0%, #c096ea 88%);
                transition: all 0.3s ease;
              }
                
              &:hover {
                color: #fff;
              }

              &:hover:after {
                top: auto;
                bottom: 0;
                height: 100%;
              }
            } // button

            a {
              text-align: center;
              line-height: calc(48px + 2px);
              // line-height: 48px;
            }
          } // modal-btn
        } // pofol-info
      } // flexbox
    } // pofol-box
    // pofol-box 공통소스 끝

    @include responsive(tablet-screens) {
      .left {
        position: relative;
        right: -600px;
        text-align: left;

        .pofol-thumbnail {
          margin-right: 40px;
        }
      } // left

      .right {
        position: relative;
        left: -600px;
        text-align: right;

        .pofol-thumbnail {
          margin-left: 40px;
          order: 2;
        }

        .pofol-info {
          order: 1;
          text-align: right;
        }

        .link-btn {
          justify-content: right;
        }
      } // right
    } // responsive - left&right 레이아웃 설정
  } // #portfolio
} // main


/* ==================== footer ==================== */

footer {
  position: relative;

  .footer-bg {
    position: relative;
    padding: 100px 0;
    background-color: $color-sub;
    background: linear-gradient(transparent, $color-sub);

    .contact {
      text-align: center;

      @include responsive(tablet-screens) {
        font-size: 24px;
      }

      .email {
        position: relative;
        display: inline-block;
        margin: 24px 0 14px 0;
        cursor: pointer;
        font-size: 32px;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0; bottom: -10px;
          width: 0;
          height: 6px;
          border-radius: 4px;
          background: rgba(246, 209, 95, .5);
        }

        &:hover::after {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0; bottom: -10px;
          width: 100%;
          height: 6px;
          border-radius: 4px;
          transition: all 0.6s ease;
          background: rgba(246, 209, 95, .6);
        }

        @include responsive(tablet-screens) {
          font-size: 48px;
        }
      } // email

      p {
        margin-bottom: 60px;
        font-size: 16px;
        color: #888;
        // color: #f6d15f;
      }

      .git,
      .topbtn {
        margin: 0 auto;

        img {
          width: 100%;
          object-fit: cover;
        }
      } // git, topbtn 

      .git {
        max-width:48px;
        max-height: 48px;
        margin-bottom: 80px;
      } // git

      .topbtn {
        width: 48px;
        height: 48px;

        &:hover {
          filter: hue-rotate(60deg);
          transition: all 0.4s;
        }
      } // topbtn
    } // contact
  } // footer-bg

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: $color-main;

    p {
      margin: 0 10px;
      font-size: 14px;
      color: #eee;
    }

    img {
      width: 28px;
      height: 28px;
    }
  }
} // footer