@mixin responsive($break-point) {
    @if($break-point == mobile-screens) {
        @media screen and (min-width:$width-mobile) {
            @content;
        }
    }

    @else if($break-point == tablet-screens) {
        @media screen and (min-width:$width-tablet) {
            @content;
        }
    }

    @else if($break-point == desktop-screens) {
        @media screen and (min-width:$width-desktop) {
            @content;
        }
    }
}

@mixin pos-center-x($type: absolute) { // 수평 가운데 정렬
    @if($type == fixed or $type == absolute ){
        position: $type;
        left: 50%;
        transform: translateX(-50%);
        @content;
    }
}

@mixin pos-center-y($type: absolute) { // 수직 가운데 정렬
    @if($type == fixed or $type == absolute ){
        position: $type;
        top: 50%;
        transform: translateY(-50%);
        @content;
    }
}

@mixin pos-center($type: absolute) { // 수직수평 가운데 정렬
    @if($type == fixed or $type == absolute) {
        position: $type;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @content;
    }
}

@mixin flex-box() {
    display: flex;
    @content;
}

