@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@font-face {
  font-family: mckloud-stroke;
  src: url(../fonts/MCKLW___.ttf) format("truetype");
}

@font-face {
  font-family: mckloud-full;
  src: url(../fonts/MCKLB___.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: $text-font-size $kor-font;
  color: $font-color-defalt;
  background-color: $body-bg;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: $font-color-defalt;
}

h1 {
  font-size: $title-font-size-L;
}

h2 {
  font-size: $title-font-size-M;
}

h3 {
  font-size: $title-font-size-S;
}

p {
  font-size: 20px;
}

address {
  font-style: inherit;
}

header,
nav,
main,
article,
section,
footer {
  display: block;
}