/* ========== 중단점 ========== */
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1200px;

/* ========== 폰트 크기 ========== */
// rem단위로 변경하기
$title-font-size-L: 2.2rem; // 큰 제목
$title-font-size-M: 1.6rem; // 작은 제목
$title-font-size-S: 1.2rem; // 본문 요약하는 제목
$tab-font-size: 1rem;
$strong-text-L: 1.6rem;
$strong-text-M: 1.4rem;
$strong-text-S: 1.2rem;
$text-font-size: 18px;


/* ========== margin ========== */
$section-end: 200px;



/* ========== 한.영 글꼴 ========== */
$kor-font: 'Nanum Gothic', sans-serif, '맑은 고딕';
$eng-font: 'Nanum Gothic', sans-serif, Arial;



/* ========== 색상 ========== */
$body-bg: #fcfcfc;
$color-main: #77addf;
$color-sub: #ddefc4;

$font-color-defalt: #333;

$black: #000;
$white: #fff;
$light-gray: #ccc;
